.cellfilled {
    background-color: darkorange;
    width: 3px;
    height: 3px;
    border-radius: 5px;
}

.cellempty {
    background-color: black;
    width: 3px;
    height: 3px;
    border-radius: 5px;
}

.celllast {
    background-color: black;
    opacity: .7;
    border-radius: 5px;
}

.celltwo {
    background-color: black;
    opacity: .4;
    border-radius: 5px;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#instructions {
    color: orange;
    align-self: center;
    font-family: arial;
}

#field {
    border: 1px solid orange;
    overflow: hidden;
    border-radius: 5px;
}