.cellfilled {
    background: url('car.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    background-color: #45AE01;
}

.cellempty {
    background: linear-gradient(#F67500, #F67500);
    width: 30px;
    height: 30px;
}

body {
    background: url('board.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#instructions {
    margin-top: -10px;
    background: linear-gradient(to right, #7FA101, #D6C809);
    box-shadow: 0 0 0 2px black; 
    color: black;
    align-self: center;
    font-family: arial;
}

#field {
    margin-top: -10px;
    background: black;
    border: 8px solid #C9BA99;
    box-shadow: 0 0 0 2px black; 
    overflow: hidden;
}